
.textBox{
    margin: auto;
    position: relative;
    bottom: 50px;
    width: 80%;
    left: 50%;
    transform: translateX(-63%);
}
.chatText {
  color: white;
}

.chatText .MuiOutlinedInput-root {
    color: white; /* Text color inside the input */
    transition: border-color 0.3s ease, opacity 0.2s ease; /* Smooth transitions for border and opacity */
    opacity: 0.7; /* Starting opacity */
    width: auto;
    margin-bottom: 25px;
    border-radius: 20px;
    font-size: 17px;
  
    & fieldset {
      border: 3px solid white !important; /* Sets the initial border style */
    }
}
  
  /* Hover state for the container that increases opacity */
  .chatText:hover .MuiOutlinedInput-root,
  .chatText .MuiOutlinedInput-root.Mui-focused {
    opacity: 1; /* Full opacity on hover/focus */
    border-color: white !important; /* Maintain white border on focus */
  }
  
  /* Ensure the text color inside the TextField is white */
  .chatText .MuiInputBase-input {
    color: white !important;
  }
  
  .chatText .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: white !important; /* Ensuring border color is white on focus */
  }

#sendButton{
    border-radius: 7px;
    font-size: 16px;
}