.Home_title{
    color: #FAFBF4;
}
.logoImage{
    width: 7%;
    height: auto;
    margin-top: -15px;
    margin-left: -45px;
    padding: -10px;
    
}

.welcomeImage{
    display: block;
    margin: auto;
}

.welcomeText{
    text-align: center;
    padding-top: 1% ;
    color: white;
}